.d-block {
    height:625px;
    width: 100%;
    overflow: hidden;
  }
  
  
 
  
  .carousel-caption {
    height: 100vh;
    display: flex;
    top: 30%;
    justify-content: center;
  }
  
  .list__styling{
    text-align: left;
    border-radius: 10px;
    background-color: rgba(189, 184, 184, 0.548);
    height: 250px;
    padding: 15px 50px;
  }
  .list_adress__styling{
      text-align: right;
  }
  .prefix_styling{
      color:black;
      font-weight: bolder;
  }